.editor {
  height: calc(100% - 52px);
  margin-top: 20px;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 40px;
}

.editor__variables-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  height: 40%;
  width: calc(50% - 10px);
  top: calc(60% - 40px);
}

.close-button {
  position: absolute;
  z-index: 100;
  left: calc(100% - 48px);
}
