.docs-invisible {
  width: 320px;
  position: absolute;
  right: -320px;
  z-index: 5;
  top: 135px;
  height: calc(100dvh - 285px);
  background-color: #353a3d;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  padding: 0 15px;
  overflow-y: auto;
}

.docs-visible {
  width: 320px;
  position: absolute;
  right: 0;
  top: 135px;
  z-index: 5;
  height: calc(100dvh - 285px);
  background-color: #353a3d;
  box-shadow: -15px 0 15px #211d1d;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  padding: 0 15px;
  overflow-y: auto;
}
